html {
  background-color: black
}
.game-body {
  text-align: center;
}

.game {
color: gold;
text-align: center;
}
.game-options {
  color: green;
}

.btn {
  color: black;
  padding: 1%;
  background-color: bisque;

}
.deck {
  margin-top: 5%;
}
